*{
    color:white;
    font-family: 'Rubik', sans-serif;
}
body{
    margin: auto;
    background-color: black;
    padding: 10px 10px 10px 25px;
    padding-top: 0px;
}
h1{
    font-size: 45px;
    text-align: center;
    text-shadow: -12px 7px 13px rgba(17, 59, 229, 1);
}
.pet{
    font-size: 20px;
    margin: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 3px solid #ccc;
}
p{
    padding-top: 10px;
}